{% extends "sqladmin/layout.html" %}
{% block header %}
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col-auto">
        {% if model_view.can_delete or model_view._custom_actions_in_list %}
        <button class="btn btn-list dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Действия
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if model_view.can_delete %}
        <a class="dropdown-item" id="action-delete" href="#" data-name="{{ model_view.name }}"
          data-url="{{ url_for('admin:delete', identity=model_view.identity) }}" data-bs-toggle="modal"
          data-bs-target="#modal-delete">Удалить выбранные объекты</a>
        {% endif %}
        {% for custom_action, label in model_view._custom_actions_in_list.items() %}
        {% if custom_action in model_view._custom_actions_confirmation %}
        <a class="dropdown-item" id="action-customconfirm-{{ custom_action }}" href="#" data-bs-toggle="modal"
          data-bs-target="#modal-confirmation-{{ custom_action }}">
          {{ label }}
        </a>
        {% else %}
        <a class="dropdown-item" id="action-custom-{{ custom_action }}" href="#"
          data-url="{{ model_view._url_for_action(request, custom_action) }}">
          {{ label }}
        </a>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          {% if model_view.column_searchable_list %}
            {% include "sqladmin/search.html" %}
          {% endif %}
          <div class="btn-list">
            <a class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#modal-filters">
              <i class="ti ti-filter"></i>
            </a>
            {% if model_view.can_export %}
            <a
              href="{{ url_for('admin:export', identity=model_view.identity, export_type='csv') }}"
              class="btn btn-icon"
              data-bs-toggle="tooltip"
              data-bs-placement="top" title="Экспорт"
            >
              <i class="ti ti-download"></i>
            </a>
            {% endif %}
            {% if model_view.can_create %}
              <a
                href="{{ url_for('admin:create', identity=model_view.identity) }}"
                class="btn btn-primary btn-icon"
                data-bs-toggle="tooltip"
                data-bs-placement="top" title="Создать"
              >
                <i class="ti ti-plus"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="col-12">
  <div class="card">
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap">
        <thead>
          <tr>
            {% if model_view.can_delete or model_view._custom_actions_in_list %}
            <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all"
                id="select-all"></th>
            {% endif %}
            <th class="w-1"></th>
            {% for name in model_view._list_prop_names %}
            {% set label = model_view._column_labels.get(name, name) %}
            <th>
              {% if name in model_view._sort_fields %}
              {% if request.query_params.get("sortBy") == name and request.query_params.get("sort") == "asc" %}
              <a href="{{ request.url.include_query_params(sort='desc') }}"><i class="fa-solid fa-arrow-up"></i> {{
                label }}</a>
              {% elif request.query_params.get("sortBy") == name and request.query_params.get("sort") == "desc" %}
              <a href="{{ request.url.include_query_params(sort='asc') }}"><i class="fa-solid fa-arrow-down"></i> {{ label
                }}</a>
              {% else %}
              <a href="{{ request.url.include_query_params(sortBy=name, sort='asc') }}">{{ label }}</a>
              {% endif %}
              {% else %}
              {{ label }}
              {% endif %}
            </th>
            {% endfor %}
            {% if "activate" in model_view._custom_actions_in_list  and "deactivate" in model_view._custom_actions_in_list %}
            <th>Вкл/Выкл</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for row in pagination.rows %}
          <tr>
            {% if model_view.can_delete or model_view._custom_actions_in_list %}
            <td>
              <input type="hidden" value="{{ get_object_identifier(row) }}">
              <input class="form-check-input m-0 align-middle select-box" type="checkbox" aria-label="Выбрать объект">
            </td>
            {% endif %}
            <td class="text-end">
              {% if model_view.can_view_details %}
              <a class="btn btn-icon btn-outline-info" href="{{ model_view._build_url_for('admin:details', request, row) }}" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Просмотр">
                <i class="ti ti-eye"></i>
              </a>
              {% endif %}
              {% if model_view.can_edit %}
              <a class="btn btn-icon btn-outline-primary" href="{{ model_view._build_url_for('admin:edit', request, row) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Изменить">
                <i class="ti ti-pencil"></i>
              </a>
              {% endif %}
              {% if model_view.can_delete %}
              <a href="#" data-name="{{ model_view.name }}" data-pk="{{ get_object_identifier(row) }}"
                data-url="{{ model_view._url_for_delete(request, row) }}" data-bs-toggle="modal"
                data-bs-target="#modal-delete" title="Удалить">
                <i class="ti ti-trash"></i>
              </a>
              {% endif %}
            </td>
            {% for name in model_view._list_prop_names %}
            {% set value, formatted_value = model_view.get_list_value(row, name) %}
            {% if name in model_view._relation_names %}
            {% if is_list( value ) %}
            <td>
              {% for elem, formatted_elem in zip(value, formatted_value) %}
              <a href="{{ model_view._build_url_for('admin:details', request, elem) }}">({{ formatted_elem }})</a>
              {% endfor %}
            </td>
            {% else %}
            <td><a href="{{ model_view._url_for_details_with_prop(request, row, name) }}">{{ formatted_value }}</a></td>
            {% endif %}
            {% else %}
            <td>{{ formatted_value }}</td>
            {% endif %}
            {% endfor %}

            {% if "activate" in model_view._custom_actions_in_list  and "deactivate" in model_view._custom_actions_in_list %}
            <td>
              {% with %}
                {% if model_view.get_list_value(row, model_view.toggle_field)[0] %}
                  {% set custom_action = 'deactivate' %}
                  {% set button = 'btn btn-icon btn-outline-danger' %}
                  {% set icon = 'ti ti-square-x' %}
                {% else %}
                  {% set custom_action = 'activate' %}
                  {% set button = 'btn btn-icon btn-outline-success' %}
                  {% set icon = 'ti ti-square-check' %}
                {% endif %}
                <a class="{{ button }}"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#modal-side-confirmation-{{ custom_action }}-{{ get_object_identifier(row) }}">
                  <i class="{{ icon }}"></i>
                </a>
              {% endwith %}
            </td>
            {% endif %}

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center gap-2">
      <p class="m-0 text-muted">Отображается от <span>{{ ((pagination.page - 1) * pagination.page_size) + 1 }}</span> до
        <span>{{ min(pagination.page * pagination.page_size, pagination.count) }}</span> из <span>{{ pagination.count
          }}</span> элементов
      </p>
      <ul class="pagination m-0 ms-auto">
        <li class="page-item {% if not pagination.has_previous %}disabled{% endif %}">
          {% if pagination.has_previous %}
          <a class="page-link" href="{{ pagination.previous_page.url }}">
            {% else %}
            <a class="page-link" href="#">
              {% endif %}
              <i class="fa-solid fa-chevron-left"></i>
            </a>
        </li>
        {% for page_control in pagination.page_controls %}
        <li class="page-item {% if page_control.number == pagination.page %}active{% endif %}"><a class="page-link"
            href="{{ page_control.url }}">{{ page_control.number }}</a></li>
        {% endfor %}
        <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
          {% if pagination.has_next %}
          <a class="page-link" href="{{ pagination.next_page.url }}">
            {% else %}
            <a class="page-link" href="#">
              {% endif %}
              <i class="fa-solid fa-chevron-right"></i>
            </a>
        </li>
      </ul>
      <div class="dropdown text-muted">
        Показ
        <a href="#" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ request.query_params.get("pageSize") or model_view.page_size }} / Страница
        </a>
        <div class="dropdown-menu">
          {% for page_size_option in model_view.page_size_options %}
          <a class="dropdown-item" href="{{ request.url.include_query_params(pageSize=page_size_option, page=pagination.resize(page_size_option).page) }}">
            {{ page_size_option }} / Page
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% if model_view.can_delete %}
  {% include 'sqladmin/modals/delete.html' %}
  {% endif %}

  {% for custom_action in model_view._custom_actions_in_list %}
  {% if custom_action in model_view._custom_actions_confirmation %}
  {% with confirmation_message = model_view._custom_actions_confirmation[custom_action], custom_action=custom_action,
  url=model_view._url_for_action(request, custom_action) %}
  {% include 'sqladmin/modals/list_action_confirmation.html' %}
  {% endwith %}
  {% endif %}
  {% endfor %}

  {% if "activate" in model_view._custom_actions_in_list  and "deactivate" in model_view._custom_actions_in_list %}
    {% for row in pagination.rows %}
      {% with %}
        {% set identifier = get_object_identifier(row) %}

        {% if model_view.get_list_value(row, model_view.toggle_field)[0] %}
          {% set custom_action = 'deactivate' %}
        {% else %}
          {% set custom_action = 'activate' %}
        {% endif %}

        {% set confirmation_message = model_view._custom_actions_confirmation[custom_action] %}
        {% set url = model_view._url_for_action(request, custom_action) ~ '?pks=' ~ get_object_identifier(row) %}
        {% include 'sqladmin/modals/list_side_action_confirmation.html' %}
      {% endwith %}
    {% endfor %}
  {% endif %}

  {% include "sqladmin/filters.html" %}
</div>
{% endblock %}